/*
---

description: A plugin for enabling autocomplete of a text input or textarea.

authors:
 - Fábio Miranda Costa

license: MIT-style license

...
*/

/*noinspection ALL*/
.ma-container {
    color: #000;
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.ma-container ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
}

.ma-container li {
    padding: 2px 5px;
    line-height: 16px;
    cursor: pointer;
    float: left;
    width: 100%;
    overflow: hidden;
}

/*noinspection ALL*/
.ma-container .ma-hover {
    background-color: #ccfda8 !important;
}

/*noinspection ALL*/
.ma-container .ma-odd {
}

/*noinspection ALL*/
.ma-container .ma-even {
    background-color: #efefef;
}

/*noinspection ALL*/
.ma-loading {
    background-color: #fafba4;
}

/*noinspection ALL*/
.ma-selected {
    background-color: #ccfda8;
}
